* {
    margin: 0;
    padding: 0;
}
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    text-align: center;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    font: 14px Arial,Helvetica,sans-serif;
}